# Logs
logs
*.log

# Node.js dependencies
node_modules

# Built files
dist
build
out

# Environment variables
.env

# IDE files
.idea
.vscode

# Operating system files
.DS_Store

# Editor backup files
*~
